*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

:root{
    --padding:3%;
    --margin:2%;

    /* a-primary,b-secondary,c-tertiary colour */
    --colorA:rgba(245, 59, 10);
    --colorB:rgba(10, 196, 245);
    --colorC:rgba(0,0,0,.45);

}



body{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background-image: url(images/image\ \(1\).jpg); */
    background-size: cover;
    background-position:center;
    flex-direction:column;
}


.container{
    background:linear-gradient(to left,lightblue,lightsalmon);
    width:100%;
    margin-bottom:2%;
}


@font-face {
    font-family: Aileron;
    src: url(fonts/Aileron-Regular.otf);
}

@font-face {
    font-family: Aileron bold;
    src: url(fonts/Aileron-Bold.otf);
}

@font-face {
    font-family: lora;
    src: url(fonts/Lora-Regular.ttf);
}

#form{
    width: 45%;
    padding:10px;
    border-radius:4px;
    font-size:12px;
    margin:20vh auto 0 auto;
    background-color:whitesmoke;
    font-family:Aileron;
    margin-bottom:7%;
}

#form h1{
    color:black;
    text-align:center;
}

#form button{
    padding:10px;
    margin-top:10px;
    width:100%;
    background-color: blue;
    border-radius:4px;
    border:none;
    color:white;
    margin-top:10px;
}

.input-control{
    display:flex;
    flex-direction:column;
}

.input-control input{
    width:100%;
    padding:10px;
    display:block;
    font-size:12px;

}
.input-control input:focus{
    outline:0;
}


.input-control.success input{
    border-color:green;
}

.input-control.error input{
    border-color:red;
}

.input-control .error{
    color:red;
    font-size:9px;
    height:13px;
}



/* footer */
.footer{
    /* background:yellow; */
    /* border:1px solid black; */
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    /* flex-wrap:wrap; */
    flex-direction:column;
    font-family: Aileron;
    font-size:13px;
    /* padding:2%; */
    background:rgba(0,0,0,.15);
    /* color:white; */

}

.footer a{
    text-decoration:none;
    font-size:13px;
    color:black;
    background:rgba(0,0,0,.45);
    font-family: Aileron;
    width:30%;
    text-align:center;
    margin:0.1%;
    padding:1%;
    transition:0.5s;
    /* color:rgba(255,255,255,.7); */
}

.footer a:hover{
    background: rgba(0,0,0,.95);
    color:white;
}

.footer div{
    margin:0.4%;
    /* border:1px solid black; */
    width:70%;
    display:flex;
    /* flex-direction:column; */
    justify-content:center;
    align-items:center;
}

.footer .links{
    flex-direction: row;
    justify-content:space-around;
    width:45%;
   
}

.footer .information{
    width:40%;
    flex-wrap:wrap;
}

.footer .designer{
    letter-spacing:0.03rem;
    /* color:red; */
}

.footer .copyrights{
    align-self:flex-end;
    margin:0;
    background:whitesmoke;
    flex-direction:row;
    /* border:2px solid red; */
    width:100%;
    color:black;
    font-family:Aileron;
    font-size:11.5px;
}

.footer .copyright-image{
    width:1%;
    height:1%;
    margin:0.5%;
    margin-right:1%;
}

.footer span{
    color:var(--colorA);
    margin-left:1%;
    margin-right:1%;
}

@media(max-width:568px){
    .footer div{ 
       width:95%;
    }

    .footer a{
        width:33%;
        font-size:11px;
    }
}



.navbar{
    color:white;
    top:0;
    display:block;
    left:100%;
    width:100%;
    background:var(--colorB);
    z-index:3;
    position:fixed;
    transition:0.5s;
}

.navbar.isactive{
    left:0;
    transition:0.4s;

}

.navbar{
    display:flex;
    background:none;
    justify-content:space-around;
    width:100%;
    /* border:2px solid red; */
    align-items:center;
    /* background:rgba(0,0,0,.45); */
}

ul li{
    list-style-type:none;
    transition:1s;
    width:100%;
    /* border:2px solid black; */
}

a{
    text-decoration:none;
    display:block;
    text-align:center;
    margin-bottom:16px;
    /* padding:15px 16px;
     */
     padding:4%;
    /* background:var(--colorC); */
    /* border:2px solid black; */
    color:white;
    font-family:Aileron bold;
    transition:0.5s;

}


.navbar li a:hover{
    color:var(--colorB);
    cursor:pointer;
    background:rgba(0,0,0,.55)
}


.hamburger{
    display:block;
    /* border:2px solid red; */
    width:35px;
    cursor:pointer;
    height:35px;
    appearance:none;
    background:none;
    outline:none;
    border:none;
    position:absolute;
    align-self:flex-end;
    top:1%;
    right:2%;
    z-index:4;
    position:fixed;
    /* background:yellow; */
    /* background:black; */
}


.hamburger .bar,.hamburger::after,.hamburger::before{
    width:100%;
    height:5px;
    /* background-color:var(--colorA); */
    background-color:black;
    transition:0.4s;
    content:'';
    display:block;
    margin:6px 0px;
}

.hamburger.isactive::before{
    transform:rotate(-45deg) translate(-8px,6px);
}
.hamburger.isactive::after{
    transform:rotate(45deg) translate(-9px,-8px)
}
.hamburger.isactive .bar{
    opacity:0;
}

@media(max-width:768px){
    .navbar{
    color:white;
    top:0;
    display:block;
    left:100%;
    justify-content:space-between;
    width:100%;
    /* border:2px solid var(--colorA); */
    background:var(--colorB);
    /* min-height:100vh; */
    z-index:3;
    /* padding-top:8%; */
    position:fixed;
    transition:0.5s;
    color:yellow;
}

}